body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body.noScroll {
overflow: hidden;
}

section{
    padding-top: 100px;
    min-height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 45px);
    width: 100vw;
    background: url('../images/desk.jpg') center;
    background-size: cover;
}

.hero h3{
    margin-top: 20vh;
    text-shadow: 4px 4px 5px #fff;
}

.primary-nav {
    height: 88px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.secondary-nav {
    z-index: 10;
    height: 45px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    will-change: transform;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
}

.primary-nav .container, .secondary-nav .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-content {
    flex: 1;
}

.hero-content .col-md-6:nth-child(2) {
    text-align: center;
}

.hero-content .hair {
    width: 80%;
    height: auto;
    display: inline-block;
}

.secondary-nav .container ul {
    width: 100%;
    margin-bottom: 0;
    height: 100%;
}

.secondary-nav .container ul li {
    font-weight: 400;
    padding: 0;
    text-align: center;
    float: left;
    height: 100%;
    cursor: pointer;
    width: 25%;
    list-style: none;
    transition: all ease-in 200ms;
    line-height: 45px;
}

.secondary-nav .container ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.about {
    overflow: hidden;
    background-color: #000;
    padding-top: 100px;
    position: relative;
}

.about .fixed-text {
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    left: -40px;
    top: 25%;
    font-size: 160px;
    line-height: 120px;
    transform: translateY(-50%);
    z-index: 0;
}

.about .bio {
    font-size: 24px;
    font-weight: 300;
}

.about .brushes{
    position: absolute;
    right: 20vw;
    bottom: 0;
    width: 20vw;
}

.about .polaroid{
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
}

.about .polaroid:nth-child(2){
    transform: rotate(20deg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.about .timeline {
    position: relative;
}

.about .timeline-item {
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    width: 300px;
    z-index: 3;
    overflow: hidden;
    border-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
    transition: all ease-in 200ms;
}

.timeline-item img{
    height: 100px;
    display: block;
    margin: 15px auto;
}

.timeline-item img.wide{
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.timeline-item a:hover{
    text-decoration: none;
}

.timeline-item .link-block{
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    margin: 15px 0;
}

.timeline-item.left {
    left: 30%;
}

.timeline-item.right {
    right: 30%;
}

.timeline-item:nth-child(2) {
    top: 15px;
}

.timeline-item:nth-child(3) {
    top: 200px;
}

.timeline-item:nth-child(4) {
    top: 385px;
}

.timeline-item:nth-child(5) {
    top: 570px;
}

.timeline-item.active {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
    z-index: 400;
}

.timeline-item .header {
    font-weight: 700;
    margin: 0 -15px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    padding: 5px 0;
}

.timeline-item .content {
    height: 0;
    overflow: hidden;
    transition: height 400ms linear;
}

.timeline-item.active .content {
    height: 80%;
    overflow: scroll;
    padding: 15px 60px;
    font-size: 18px;
    line-height: 30px;
}

.timeline-item .close, .timeline-item.active .expand{
    display: none;
}

.timeline-item.active .close{
    display: block;
    margin-top: 15px;
    font-size: 16px;
}

.timeline-item .expand{
    font-weight: 600;
    cursor: pointer;
    margin: 0 -15px;
    text-align: center;
    padding: 5px 0;
    transition: all 200ms ease-in;
}

.timeline-item .close {
    text-align: center;
    width: 100%;
}

.timeline-item .expand:hover {
    background: #e3e3e3;;
}

.timeline-item .close:hover{
    color: #f53e27;
}

.timeline .line {
    height: 900px;
    width: 30px;
    border-radius: 15px 15px 0 0;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tools {
    background-color: #000;
    padding-top: 100px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.tools .fixed-text {
    color: rgba(0, 0, 0, 0.1);
    text-align: right;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    right: -50px;
    top: 50%;
    font-size: 160px;
    line-height: 120px;
    transform: translateY(-50%);
    filter: blur(5px);
    z-index: 0;
}

.technologies-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.technologies-banner > * {
    height: 100%;
    width: auto;
}

.skill-list{
    margin-top: 50px;
}

.quick-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quick-links i{
    font-size: 26px;
}

@media only screen and (max-width: 600px) {
    .about .brushes{
        right: 25vw;
        width: 50vw;
    }
    .hero-content h3{
        text-align: center;
    }
    .hero-content .hair{
        margin-top: 50px;
    }
    .quick-links span{
        display: none;
    }
    .timeline-item{
        width: 100%!important;
        left: 50%!important;
        transform: translateX(-50%)!important;
    }
    .timeline-item.active{
        width: 100%!important;
        transform: translate(-50%,-50%)!important;
    }
    .timeline-item.active .content{
        padding: 10px 15px!important;
    }
}