body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.landing{
    background: linear-gradient(#fff,#FF729F);
    color: #3f3f3f;
}
.about{
    background: linear-gradient(#FF729F, rgb(95, 195, 228));
    color: #fff;
}
.work-experience{
    background: linear-gradient(rgb(95, 195, 228), #fff07c);
    color: #fff;
}
.contact{
    background: linear-gradient(#fff07c, #fff,#81F4E1);
    color: #fff;
}

.polaroid{
    background: #fff;
    border: 1px solid #DFE1E5;
    padding: 15px 15px 52.5px 15px;
}

.polaroid .img-holder{
    background: #000;
}

.polaroid img{
    opacity: 0.1;
    width: 100%;
    height: auto;
    filter: invert(100);
    transition: all 800ms ease-in;
    transition-delay: 350ms;
}

.polaroid.active img{
    filter: invert(0);
    opacity: 1;
}

/* Landing */
.landing {
    text-align: center;
}

.landing p{
    font-size: 36px;
}

.landing h4{
    font-size: 40px;
}

.landing h1{
    font-size: 48px;
}