.projectname{
    text-align: center;
    background-color: black;
    color: white;
}

.Filter {
    padding: 10px;
    background-color: blanchedalmond;
}

.project {
    background-color: #c6f1ff;
}

.github-link{
    color:blue;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
}